<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        Monitoring Microservices
    </a>
    <div class="collapse navbar-collapse">

        <!--        <form class="form-inline my-2 my-lg-0">-->
        <!--            <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search'  }}">-->
        <!--        </form>-->

        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> Administrator <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>

                    <a class="dropdown-item" [routerLink]="['/all-services']" >
                        <i class="fa fa-cogs"></i>&nbsp; {{ 'all-Services'}}
                    </a>

                    <a class="dropdown-item" [routerLink]="['/dashboard']" >
                        <i class="fa fa-server"> </i> {{ 'Eureka'}}
                    </a>

                    <a class="dropdown-item" href="http://localhost:8762/service1/actuator/httptrace"  >
                        <i class="fa fa-info-circle" style="max-font-size: 10px"></i> {{ 'Service1 trace'}}
                    </a>
                    <a class="dropdown-item" href="http://localhost:8762/service2/actuator/httptrace"  >
                        <i class="fa fa-info-circle"></i> {{ 'Service2 trace '}}
                    </a>
                    <a class="dropdown-item" href="http://localhost:8762/back-end-server/actuator/httptrace"  >
                        <i class="fa fa-info-circle"></i> {{ 'back-end trace'}}
                    </a>
                    <a class="dropdown-item" href="http://127.0.0.1:3030/">
                        <i class="fa fa-database"></i>&nbsp;{{ 'Kafka '}}
                    </a>
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out'  }}
                    </a>

                </div>
            </li>
        </ul>
    </div>
</nav>
