<div >
    <app-page-header [heading]="' Services Trace'" [icon]="'fa fa-cogs'">
    </app-page-header>
    <div class="row">
        <div class="container">
            <div class="card mb-3">
                <div class="card-header "  >
                    Service1 trace
                </div>
                <div class="table-responsive-md">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr >
                                <td>******</td>
                                <td>********</td>
                                <td>******</td>
                                <td>********</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--        <div class="container">-->
        <!--            <div class="card mb-3">-->
        <!--                <div class="card-header " >-->
        <!--                    Service2 trace-->
        <!--                </div>-->
        <!--                <div class="table-responsive">-->
        <!--                    <table class="table table-striped">-->
        <!--                        <thead>-->
        <!--                        <tr >-->
        <!--                            <th>field1</th>-->
        <!--                            <th>field2</th>-->
        <!--                            <th>field3</th>-->
        <!--                        </tr>-->
        <!--                        </thead>-->
        <!--                        <tbody>-->
        <!--                        <tr >-->
        <!--                            <td>field1</td>-->
        <!--                            <td>field2</td>-->
        <!--                            <td>field3</td>-->
        <!--                        </tr>-->
        <!--                        </tbody>-->
        <!--                    </table>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="container">-->
        <!--            <div class="card mb-3">-->
        <!--                <div class="card-header " >-->
        <!--                    Back-end trace-->
        <!--                </div>-->
        <!--                <div class="table-responsive">-->
        <!--                    <table class="table table-striped">-->
        <!--                        <thead>-->
        <!--                        <tr >-->
        <!--                            <th>field1</th>-->
        <!--                            <th>field2</th>-->
        <!--                            <th>field3</th>-->
        <!--                        </tr>-->
        <!--                        </thead>-->
        <!--                        <tbody>-->
        <!--                        <tr >-->
        <!--                            <td>field1</td>-->
        <!--                            <td>field2</td>-->
        <!--                            <td>field3</td>-->
        <!--                        </tr>-->
        <!--                        </tbody>-->
        <!--                    </table>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>
